BasedOnStyle: LLVM
IndentWidth: 4
Language: Cpp
ColumnLimit: 80
PointerAlignment: Right
IndentCaseLabels: true
AllowShortFunctionsOnASingleLine: None
AllowShortCaseLabelsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortIfStatementsOnASingleLine: false
